# ================================
# FF Arena Frontend - Environment
# ================================

# Your backend API URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Your backend Socket.io URL
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# Razorpay public key (from razorpay.com dashboard)
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXX

# Your UPI ID shown on payment page
NEXT_PUBLIC_UPI_ID=shrikrishnadevkar60@oksbi
NEXT_PUBLIC_UPI_NAME=Shrikrishna Devkar
